body{
    background: linear-gradient(to bottom, lightgrey,black, grey
     );
}
img{
    width: 25%;
    margin: 10px;

}
hr{
    width: 16%;
    float: left;
    background-color: grey;
    opacity: 50%;
    border-color: transparent;
}