@media screen and (max-width: 480px){
    #encabezado{
        height: auto;
    }
    #contenido{
        width: auto;
    }
    #barra_lateral{
        display:none;
    }
}

#menu li {
background: linear-gradient(to bottom, grey ,white);
display: inline-block;
border-radius: 10px;
box-shadow : 4px 2px black
 ;

}
#menu a {
    color: black;
    text-decoration: none;
    font-size: 23px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    
}


